@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html *,
html *::after,
html *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  font: inherit;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #fff;
  outline: none;
  transition: all 0.3s linear;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
