@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* font-family: 'Fredoka One', cursive; */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html *,
html *::after,
html *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #f1f5f8;
}

/*
==========
Header
==========
*/

.header {
  margin: 3rem auto;
}

.text {
  margin: 0.4rem auto 1rem;
  color: #636464;
}

.form label {
  font-size: 1.5rem;
  vertical-align: center;
  letter-spacing: 1px;
}
.form input {
  border: 2px solid #e100ff;
  outline: none;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  margin: 0 0.5rem;
  font-family: inherit;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
}
.form button {
  border: 2px solid #e100ff;
  border-radius: 5px;
  width: 90px;
  height: 30px;
  background-color: #fff;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.3s linear;
}

.form button:hover {
  background-color: #e100ff;
  color: #fff;
}

/*
==========
Main
==========
*/

.paragraph {
  width: 50%;
  margin: 0.5rem auto;
  padding: 1rem;
  line-height: 1.5rem;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}

.paragraph span {
  position: absolute;
  top: 0;
  left: -40px;
  background-color: red;
  padding: 0.5rem 1rem;
  display: inline-block;
  color: #fff;
}
