@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html *,
html *::after,
html *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #131418;
  text-transform: uppercase;
}
.inner-container {
  width: 50%;
  margin: 0 auto;
}

/*
==========
Header
==========
*/
.title-wraper {
  background-color: #11a9e2;
  padding: 1rem;
  color: #fff;
}
.title-wraper h1 {
  font-family: "Fredoka One", cursive;
  letter-spacing: 3px;
  line-height: 2;
  color: #c59d5f;
  text-shadow: 0 1px 0 #fff, 0 2px 0 #fff, 0 3px 0 #fff, 0 4px 0 #fff,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.color-diplay {
  font-size: 4rem;
}
.nav {
  background-color: #fff;
}
.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.nav a {
  text-decoration: none;
  color: #11a9e2;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.5rem;
}
.message {
  text-transform: capitalize;
}
.game-mode:first-child {
  margin-right: 0.7rem;
}
.game-mode {
  transition: all 0.3s ease-in-out;
}
.game-mode:hover,
.selected {
  background-color: #11a9e2;
  color: #fff !important;
}
/*
==========
Main
==========
*/

.main {
  margin-top: 0;
}
.box-area {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box {
  margin: 1rem 0.5rem;
  width: 30%;
  height: 170px;
  border-radius: 20px;
  background-color: #ffebee;
  transition: background 0.3s ease-in-out;
}

.red {
  color: #d50000 !important;
}
.green {
  color: #64dd17 !important;
}
